/*body {
  background-image: url('/image/background.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center center; 
}*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  .responsiveBox {
    width: 100%;
    padding: 10px;
  }

  .responsiveTypography {
    font-size: 1.5rem;
  }

  .responsiveButton {
    width: 100%;
  }
}

